
.postNav{
    display: flex;
/* line-height: 70px; */
/* justify-content: center; */
align-items: center;
    height: 70px;
    background-color: rgb(246, 245, 245);
    border: 1px solid rgb(197, 197, 197);
}

.befposticon{
margin-left: 10px;
margin-right: 10px;
}
.postHead{
    /* line-height: 70px; */
    font-weight: 400;
    font-size: 20px;
}
.postIcon{
    width: 50px;
    font-size: 20px;
}